.login-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #333;
}

.login-box {
    width: 360px;
    background: white;
    padding: 32px;
    border: 1px solid #333;
    border-radius: 10px;
}