<div class="login-wrapper">
  <section class="login-box">
    <h3>Faça seu login</h3>
    <br />
    <form>
      <div class="form-group">
        <input type="text" placeholder="E-mail" class="form-control">
      </div>
      <div class="form-group">
        <input type="password" placeholder="Senha" class="form-control">
      </div>

      <button class="btn btn-primary" (click)="onLogin()">Login</button>
    </form>
  </section>
</div>

