<div class="layout-wrapper">
  <div class="app">
    <header class="header">
    <div class="pull-right">
      <button (click)="onLogout()" class="btn btn-default">Sair</button>
    </div>
    </header>
  <aside class="sidebar">
    <div class="sidebar-header">
      <a routerLink="" class="brand">Angular4 Bootcamp</a>
    </div>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a routerLink="" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
          true}">
          <i class="fa-fa-home"></i>
          Home
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/users" class="nav-link" routerLinkActive="active">Usuários</a>
      </li>
    </ul>
  </aside>
  <main class="content">
    <router-outlet></router-outlet>
  </main>
  </div>
</div>
