.layout-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.app {
    position: relative;
    width: 100%;
    padding-left: 230px;
    min-height: 100vh;
    margin: 0 auto;
    left: 0;
    background-color: #f0f3f6;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc;
    -webkit-transition: left 0.3s ease, padding-left 0.3s ease;
    transition: left 0.3s ease, padding-left 0.3s ease;
    overflow: hidden;

    .content {
        padding: 105px 40px 85px 40px;
    }
}

.header {
    background-color: #d7dde4;
    height: 70px;
    position: absolute;
    left: 230px;
    right: 0;
    -webkit-transition: left 0.3s ease;
    transition: left 0.3s ease;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: flex-end;
}

.sidebar {
    background-color: #3a4651;
    width: 230px;
    padding-bottom: 60px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    -webkit-transition: left 0.3s ease;
    transition: left 0.3s ease;
    z-index: 20;

    .sidebar-header .brand {
        color: #fff;
        text-align: left;
        padding-left: 25px;
        line-height: 70px;
        font-size: 16px;
    }

    .nav-link {
        color: rgba(255, 255, 255, 0.5);
    }

    .nav-link.active, .nav-link:hover {
        color: white;
        background: cornflowerblue;
    }
}

.footer {
    background-color: #fff;
    position: absolute;
    left: 230px;
    right: 0;
    bottom: 0;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}